.AddStudents{
    margin-top: 90px;
    margin-left: 100px;
    margin-bottom: 70px;
}
.FormBody{
    text-align: right;
    padding-right: 20px;
}
.FormBody img{
    width: 200px;
    height: 170px;
}
.PersonalInfo{
    text-align: left;
    margin: 20px 0px;
}
.PersonalInfo input{
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.PersonalInfo select{
    width: 100%;
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.FamilyInformation {
    text-align: left;
}
.FamilyInformation input{
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.AcademicInformation{
    text-align: left;
}
.AcademicInformation input{
    width: 100%;
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.SaveBTN{
    margin: 20px 0px;
}
.SaveBTN button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin: 0px 10px;
    background-color: brown;
    color: white;
}
.QualificationInformation {
    text-align: left;
}
.QualificationInformation input{
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.WorkInformation{
    text-align: left;
}
.WorkInformation input{
    width: 100%;
    margin: 10px 0px;
    border:none;
    padding: 10px 20px;
    border-radius: 3px;
}
.QualificationInformation h3, .WorkInformation h3{
    margin: 20px 0px;
}