.DashboardContainer{
    margin-top: 70px;
    margin-left: 100px;
}
.DashboardFirstRow,.Dashboard2ndRow,.Dashboard3rdRow,.Dashboard4thRow{
    margin: 20px 10px;
}
.QuantityRow{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}
.QuantityRow h3{
    margin-top: 5px;
    font-size: 21px;
}
.QuantityRow h4{
    font-size: 18px;
    display: block;
}
.FeesExpences{
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 5px;

}
.TimeTable{
    background-color: white;
    height: 250px;
    width: 100%;
    border-radius: 5px;

}
.EventCalender{
    background-color: white;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}
.NotificationBoard{
    background-color: white;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}
.RecentActivites{
    background-color: white;
    height: 500px;
    width: 100%;
    border-radius: 5px;
}