.ViewStudentMain{
    margin-top: 80px;
    margin-left: 80px;
}
.StudentImageView{
    padding: 40px 20px;
    text-align: right;
}
.StudentImageView img{
    width: 200px;
    height: 170px;
}
.StudentData{
    padding: 40px 0px;
}
.previousSchoolsSec{
    padding: 20px 10px;
}
.previousSchoolsSec h3{
    display: block;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: white;
    padding: 10px 10px;
}
.addressSec{
    padding: 20px 10px;
}
.addressSec h3{
    display: block;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: white;
    padding: 10px 10px;
}
.studentPerformanceRecord{
    margin: 10px 10px;
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
}
.studentDuesRecord{
    margin: 10px 10px;
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
}