.StudentRow{
    background-color: white;
    padding: 10px 20px;
    overflow-y: scroll;
}
.STDR{margin-top: 10px;
    border-bottom: 1px solid rgba(112, 128, 144, 0.486);
}

.ActionButton button{
    font-size: 11px;
    padding: 3px 5px;
    border: none;
    border-radius: 2px;
    margin: 0px 5px;
}
.StudentRow::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .StudentRow::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .StudentRow::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .StudentRow::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }