.TeacherSalary{
    margin-top: 80px;
    margin-left: 80px;
}
.TeacherSalaryRow{
    padding: 10px 20px;
}
.TeacherSalaryRowData{
    padding: 10px 10px;
}
.LastSixMonth p{
    display: inline-block;
    background-color: blue;
    border-radius: 50%;
    padding: 5px 6px;
    color: white;
    margin: 0px 3px;
    font-size: 10px;
}
.TCHRow{
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}